body {
    font-family: Roboto, serif;
    font-size: 100%;
    line-height: 1.7em;
    color: #000000;
}
hr {
    margin: -50px;
    height: 5px;
    background-color:#000000;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 150%;
    text-align: center;
}
h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    width: 90px;
    border: 5px white;
    text-align: center;
    background-color:yellow;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 200%;
    text-align: center;
}
.center {
    display: block;
    border: 5px solid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center2 {
    display: block;
    border: 5px solid;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
h4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75%;
    text-align: center;
    padding: 0px;
}

h5 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 150%;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

h6 {
    margin: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    width: 150px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    text-align: center;
    padding: 10px;
    background-color:yellow;
    margin-left: auto;
    margin-right: auto;
}

.top {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    width: 150px;
    font-weight: bold;
    border: 5px white;
    text-align: center;
    background-color:yellow;
    margin-left: auto;
    margin-right: auto;
}

.info {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    width: 300px;
    text-align: left;
    margin-left: 500px;
}
.dropdown {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    text-align: left;
    margin-left: 500px;
 }

#flavor {
    width: 300px;
    height: 50px;
    font-size: 80%;
    border-width: 3px;
    border-color: black;
}
#pack {
    width: 300px;
    height: 50px;
    font-size: 80%;
    border-width: 3px;
    border-color: black;
}

.total {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 150%;
    text-align: left;
    padding: 10px;
    margin-left: 490px;
    float: left;
    width: 100px;
    height: 100px;
}

.checkout {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    float: left;
    width: 170px;
    height: 30px;
    background-color: yellow;
    padding: 10px;
    float: left;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.galleryInfo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    margin: 0px;
    margin-left: 560px;
    padding: 0px;
    width: 300px;
}

.product {
    width: 400px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 10px;
}

.product:hover {
    background-color: yellow;
}

.product p {
    margin-left: 50px;
    text-align: left;
}
.product img {
    display: block;
    border: 5px solid;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-bottom: 15px;
    margin-top: 5px;
}

#newLine {
    width: 700px;
}